<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基本スケジュール</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">基本スケジュール</h1>
        <div class="mt-4">
            <img th:src="@{/images/schedule.png}" alt="スケジュール" class="img-fluid">
        </div>
        <div class="mt-4">
            <a href="/home" class="btn btn-primary">ホームに戻る</a>
        </div>
    </div>
</body>
</html>
